#MiCuentaContainer {
    background: rgb(196, 17, 17);

    .imagenperfil{
      img{
      width: 20rem;
      border-radius: 50%;
      margin:0 auto;
      margin-bottom: 2rem;
      display: block;  
       }   
    
    }

    .Infouser{
      width: 20rem;
      margin:0 auto;
      display:block;
      text-align: center;
     
      h2{
        color:rgb(253, 253, 253);
        font-size: 1.5rem; 
        font-style: italic;
       
      }
        
    }

  
  

}




  