#MiCuentaContainer {
    background: #fff;

    .imagenperfil{
      img{
      width: 20rem;
      border-radius: 50%;
      margin:0 auto;
      display: block;  
       }   
    
    }

    .Infouser{
      background:red;
    }

  
  

}




  