#DarlibroContainer {
  background: white;
  padding-top: 0;

  #appHeader {
     
      color: black;
      
  }
  #BotonISBN {
    width: 100%;
    min-height: 48px;
    margin: 4px 0 24px;
    padding-top: 16px;
    display: flex;
    position: relative;
    font-family: inherit;
    color:rgb(26, 26, 241);
  }
  #BotonSCAN {
    width: 100%;
    min-height: 48px;
    margin: 4px 0 24px;
    padding-top: 16px;
    display: flex;
    position: relative;
    font-family: inherit;
    color:rgb(26, 26, 241);
  }
  #BotonMANUAL {
    width: 100%;
    min-height: 48px;
    margin: 4px 0 24px;
    padding-top: 16px;
    display: flex;
    position: relative;
    font-family: inherit;
    color:rgb(26, 26, 241);
  }
}


  
