#DarlibroContainer {
  background: coral;
  padding-top: 0 !important;

  #appHeader {
     
      color: #fff;
  }
  #BotonISBN {
    width: 100%;
    min-height: 48px;
    margin: 4px 0 24px;
    padding-top: 16px;
    display: flex;
    position: relative;
    font-family: inherit;
  }
  #BotonSCAN {
    width: 100%;
    min-height: 48px;
    margin: 4px 0 24px;
    padding-top: 16px;
    display: flex;
    position: relative;
    font-family: inherit;
  }
  #BotonMANUAL {
    width: 100%;
    min-height: 48px;
    margin: 4px 0 24px;
    padding-top: 16px;
    display: flex;
    position: relative;
    font-family: inherit;
  }
}


  
